<style type="text/css">
    div.item-title {
        width: 100%;
        height: 100%;
        padding:0px 8px!important;
    }

    div.item-title .row-options {
        vertical-align: middle;
        float: left;
    }

    .optionsMenu {
        float: right;
    }

    .optionsMenu #icon {
        color: #6f778c!important;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
</style>

<div class='item-title'>

    <% if (name.indexOf('N/R') != -1) { %>
        <div class='row-options' title='<%= name %>' style='color: #e80037'><%= name %></div>
    <% } else { %>
        <div class='row-options' title='<%= name %>'><%= name %></div>
    <% } %>

    <div class='optionsMenu' data-is-market="<%= isMarket %>">
        <i id="icon" data-id="<%= id %>" class='fa fa-cog fa-lg' style="color: #6f778c;"/>
    </div>
</div>