<header id="header" role="banner">
    <div class="masthead">
        <a href="#">Back Office</a>
    </div>
    <nav id="nav">
        <ul>
            <li><a href="#">
                ....main site nav list....
            </a></li>
        </ul>
    </nav>
    <div id="secondary-nav">
        <ul>
            <li><a href="#">
                ....other non-primary navigation doesn't belong in a nav element....
            </a></li>
        </ul>
    </div>
</header>

<section id="tools" role="tools">
</section>


<section id="main-content" role="main">
</section>


<aside id="sidebar">
</aside>


<footer id="footer">
    .... footer content here ....
</footer>