<header id="header-main" class="include">

    <nav>
        <div class="nav-global">
            <a href="#">
                <h1>BetEast</h1>
            </a>
        </div>
    </nav>

    <div class="acc-user-details">
        <a href="#" class="button submit" type="submit" id="loginBtn">Login</a>
    </div>

</header>

<div class="container-main">

    <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all ui-tabs-vertical ui-helper-clearfix">
        <ul class='tabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all'>
            <li class="ui-state-default ui-corner-left"><a id="accountOverview" class="ui-tabs-anchor">Account Overview</a></li>
            <li class="ui-state-default ui-corner-left"><a id="accountCreation" class="ui-tabs-anchor">Account Creation</a></li>
            <li class="ui-state-default ui-corner-left"><a id="accountManagement" class="ui-tabs-anchor">Account Management</a></li>
            <li class="ui-state-default ui-corner-left"><a id="accountBets" class="ui-tabs-anchor">Account Bets</a></li>
        </ul>
        <div id="main-content">
            <div class="alert-global ui-helper-clearfix" ></div>
            <div id="tabContent" class='form-body ui-tabs-panel ui-widget-content ui-corner-bottom ui-helper-clearfix'></div>
        </div>
    </div>

</div>
