/*
Syntax error: Undefined variable: "$header-height".
        on line 15 of accountManagement.scss

10: $blue: #05438a;
11: $dark: #2b303a;
12: 
13: #agent {
14:   position: absolute;
15:   top: $header-height; left: 0; bottom: $footer-height; right: 0px;
16:   padding: 10px 0px;
17:   margin-top: 11px;
18: 
19:   ul#tabs {
20:     @include flat-dark();

Backtrace:
accountManagement.scss:15
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/script/tree/node.rb:50:in `perform'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:366:in `visit_prop'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/stack.rb:79:in `block in with_base'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/stack.rb:79:in `with_base'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/stack.rb:79:in `block in with_base'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/stack.rb:79:in `with_base'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/tree/root_node.rb:20:in `render'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/engine.rb:274:in `render'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `each'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/exec.rb:489:in `watch_or_update'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/exec.rb:346:in `process_result'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/exec.rb:43:in `parse'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/lib/sass/exec.rb:22:in `parse!'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.3.8/bin/scss:13:in `<top (required)>'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/bin/scss:23:in `load'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/bin/scss:23:in `<main>'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/bin/ruby_noexec_wrapper:14:in `eval'
/Users/Jamie/.rvm/gems/ruby-2.0.0-p247/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$header-height\".\A         on line 15 of accountManagement.scss\A \A 10: $blue: #05438a;\A 11: $dark: #2b303a;\A 12: \A 13: #agent {\A 14:   position: absolute;\A 15:   top: $header-height; left: 0; bottom: $footer-height; right: 0px;\A 16:   padding: 10px 0px;\A 17:   margin-top: 11px;\A 18: \A 19:   ul#tabs {\A 20:     @include flat-dark();"; }
