@import "accountManagement";

$radius: 3px; // radius of tabs/content corners
$border-colour: #cad8e7;
$markets-width: 160px;

$light-grey: #f9fafc;
$mid-grey: #f0eef9;
$yellow: #fed448;
$background-grey: fade($mid-grey, 40%);
$tab-grey: #bdbec0;
$blue: #2492d1;
$dark: #2b303a;

#agent {
  position: absolute;
  top: $nav-height; left: 0; bottom: -1; right: 0px;
  margin-top: 1px;

  ul#tabs {
    @include flat-dark();

    // position it
    position: absolute;
    top: 0; left: 0px; bottom: 0;
    width: $search-width;

    // right dividing border between sections and content
    border-right: solid 0px $dark;

    li {

      @include gradient(top, $light-grey, $mid-grey);
      padding: 10px 14px;
      border-right: 1px solid #c4bcd4;
      border-bottom: 1px solid $mid-grey;
      cursor: pointer;

      & a {
        text-decoration: none;
        color: #424f59;
        font-weight: 600;
      }

      &:hover {
        @include gradient(top, $light-grey, $light-grey);
//        border-bottom: 1px solid $mid-grey;
      }

      &.selected {
        @include gradient(top, $light-grey, $light-grey);
//        border-top: 1px solid #2b303a;
//        border-bottom: 1px solid $background-grey;

        & a {
//          &:hover {
//            color: #000;
//          }
        }
      }
    }
  }

  ul#tab-content {
//    @include flat-dark();

    position: absolute;
    top: 0; left: $search-width; bottom: 0; right: 0;

    padding: 10px;

  }
}

.agentContent {

  color: $dark-grey!important;

  h2 {
    font-size: 24px;
    color: $dark-grey;
    padding-bottom: 4px;
    margin-bottom: 20px;
    border-bottom: 2px solid $blue;
  }

  .content {
    table {
      border-collapse: collapse;

      tr {
        hieght: 50px;
      }
    }
    caption { font-size: larger; margin: 1em auto; }
    th, td {
      padding: 8px;
    }
    thead {
      background: $light-grey;
          color: #000;
      //    border: 1px solid #cccccc;
    }
    th {
      background: #f8f8f8;
      border: 1px solid #cccccc;
      font-weight: bold;
    }
    td {
      border: 1px solid #777;
    }


  }



}
