html {
  height:100%;margin:0;
}
body {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: 12px;
  margin: 0;
  padding:0;
  height:100%;margin:0;
  -webkit-font-smoothing: antialiased;
}

.fa {
  cursor:pointer;
  vertical-align: middle;
  font-size: 14px;
}

#container {
  min-height: 100%; position:relative;
  margin: 0 auto;
}