//Application toolbar colour
@mixin flat-black {
  background: #1F2430;
  border-bottom: solid 1px #080b10;
}

// Application header colour
@mixin flat-dark {
  background: $dark;
}

@mixin gradient ($origin: left, $start: #ffffff, $stop: #000000) {
  background-color: $start;
  background-image: -webkit-linear-gradient($origin, $start, $stop);
  background-image: -moz-linear-gradient($origin, $start, $stop);
  background-image: -o-linear-gradient($origin, $start, $stop);
  background-image: -ms-linear-gradient($origin, $start, $stop);
  background-image: linear-gradient($origin, $start, $stop);
}
