@import "variables";


#sidebar {
  @include flat-dark();

  // position it
  position: absolute;
  top: $header-height + $tools-height; left: 0px; bottom: $footer-height;
  width: $aside-width;

  // right dividing border between sidebar and main content area
  border-right: solid 1px $dark;

  // turns off the right border of the results grid, so
  //that it doesn't conflict with the sidebar border
  .w2ui-grid {
    border-right: 1px none;
  }

  // Adds height: 100% to all *Wrapper divs
  div[id$='Wrapper'] {
    height: 100%;
  }

  // content of the two tabs
  #tab-content {
    height: 100%;

    #simpleWrapper {
      #simpleToolbar {
      }

      // force results grid to be full height
      #simpleResults {
        height: 100%;
      }
    }
  }
}

