@import "variables";


#sidebar {
  background-color: white;

  position: absolute;
  top: $header-height + $tools-height; left: 0px; bottom: $footer-height;
  width: $aside-width;


  @include flat-dark();

  border-right: solid 1px $dark;

  // Adds height: 100% to all *Wrapper divs
  div[id$='Wrapper'] {
    height: 100%;
  }

  // turns off the right border of the results grid, so
  //that it doesn't conflict with the sidebar border
  .w2ui-grid {
    border-right: 1px none;
  }

  // Non-active tabs, greyed out background
  .w2ui-tab {
    background-color: $opaque-light-grey;
    font-size: 11px;

    // Active tab, header colour
    &.active {
      background-color: $light-grey;
    }

    // USe hand on hover
    &:hover {
      cursor: pointer;
    }
  }


  // content of the two tabs
  #tab-content {
    height: 100%;

    #simpleWrapper {
      #simpleToolbar {
      }

      // force results grid to be full height
      #simpleResults {
        height: 100%;
      }
    }
  }
}

