@import url(beteast.css);
.main-content {
  float: right; }
  .main-content .alert-global {
    background: #3880b6;
    padding: 18px 24px;
    color: #FFFFFF;
    font-weight: bold; }
    .main-content .alert-global ul li {
      line-height: 18px; }