$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

// Colours

$dark: #303640;
$black-grey: #1F2430;
$dark-grey: #33383e;
$mid-grey: #6e757f;
$light-grey: #efefef;
$opaque-light-grey: #b7b7b7;
$red: #e80037;

// Heade
$nav-height: 45px;
$header-height: 0px;
$footer-height: 40px;
$search-width: 250px;