$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

// Colours

$black-grey: #1F2430;
$dark-grey: #33383e;
$mid-grey: #6e757f;
$light-grey: #efefef;
$opaque-light-grey: #b7b7b7;

// Header
$header-height: 30px;

// Tools
$tools-height: 10px;