<style type="text/css">
    #searchIcon {
        padding:0px 0px!important;
        color: #68718a;
        overflow: auto;
        width: 100%;
    }

    .searchInput {
        font-size: 12px!important;
        padding: 3px 5px;
        border-radius: 3px;
        border: 1px solid silver;
        width: 100%;
    }

    #searchWrapper {

    }

    input.searchInput {
        padding:5px;
    }
    input.searchInput::-webkit-input-placeholder {
        font-family:'FontAwesome';
    }
    input.searchInput::-moz-placeholder {
        font-family:'FontAwesome';
    }
    input.searchInput::-ms-input-placeholder {
        font-family:'FontAwesome';
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
        direction: rtl;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        direction: rtl;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ but I'm not sure about working */
        direction: rtl;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        direction: rtl;
    }

</style>


<div id="searchWrapper">
    <input class="searchInput fa fa-search" size="26" type="text" placeholder="&#61442;">
</div>