<header id="header-main" class="include">

    <nav>
        <div class="nav-global">
            <a href="#"><h1>BetEast</h1></a>
            <div id="user-logged-out" class="user sign-in-cta">
                <a class="btn">Sign In</a>
            </div>

            <div id="user-logged-in" class="user logged-in" style="display: none;">
                <a href="#" class="details"></a>
                <ul class="user-account">
                    <li><a href="#">Deposit</a></li>
                    <li><a href="#">Account</a></li>
                    <li><a href="#" class="messages">Messages</a></li>
                    <li><a href="#" class="logout">Logout</a></li>
                </ul>
            </div>
        </div>

    </nav>

</header>