<div class="errorBar">
    <p>Error Message Displayed Here</p>
</div>

<div class="table table-style ">
    <div class="table-row th management">
        <div class="table-cell cell-style ">
            Account_Id
        </div>
        <div class="table-cell cell-style">
            Username
        </div>
        <div class="table-cell cell-style">
            Status
        </div>
        <div class="table-cell cell-style">
            First Name
        </div>
        <div class="table-cell cell-style">
            Last Name
        </div>
        <div class="table-cell cell-style">
            Phone
        </div>
        <div class="table-cell cell-style">
            Email
        </div>
        <div class="table-cell cell-style">
            Last Login
        </div>
        <div class="table-cell cell-style">
            IP
        </div>
        <div class="table-cell cell-style">
            Currency
        </div>
        <div class="table-cell cell-style">
            PT
        </div>
        <div class="table-cell cell-style">
            VC
        </div>
        <div class="table-cell cell-style">
            Bet Limit
        </div>
        <div class="table-cell cell-style">
            Min Stake
        </div>
        <div class="table-cell cell-style">
            Balance
        </div>
        <div class="table-cell cell-style">
            &nbsp;
        </div>
    </div>
    <% _.each(accounts, function(account, index) { %>
        <div class="table-row management">
            <div class="table-cell cell-style "><%=account.externalRef%></div>
            <div class="table-cell cell-style "><%=account.name%></div>
            <div class="table-cell cell-style "><%=account.status%></div>
            <div class="table-cell cell-style "><%=account.firstName%></div>
            <div class="table-cell cell-style "><%=account.lastName%></div>
            <div class="table-cell cell-style "><%=account.phone%></div>
            <div class="table-cell cell-style "><%=account.email%></div>
            <div class="table-cell cell-style "><%=account.lastLogin%></div>
            <div class="table-cell cell-style "><%=account.ip%></div>
            <div class="table-cell cell-style "><%=_.has(account, 'balance') ? account.balance.currency : 'GBP'%></div>
            <div class="table-cell cell-style "><%=account.pt%></div>
            <div class="table-cell cell-style "><%=account.defaultSinglesVC%></div>
            <div class="table-cell cell-style "><%=account.betLimit%></div>
            <div class="table-cell cell-style "><%=account.minStake%></div>
            <div class="table-cell cell-style "><%=_.has(account, 'balance') ? account.balance.value : '0'%></div>
            <div class="table-cell cell-style edit"><a><i class="fa fa-pencil"></i></a></div>
        </div>
    <% }); %>
</div>
